@import "src/assets/variables";

.auth-layout-form {
  width: 380px;
  padding: 2rem;
  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: $shadow;
  box-sizing: content-box;

  &__logo {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__title {
    font-size: $font-size-lg;
    text-align: center;
    margin-bottom: 1rem;
  }
}

