@import "src/assets/variables";

.workflow-view {
  display: flex;
  font-size: $font-size-sm;
  color: $color-gray-dark;
  margin-top: 2rem;

  &__item {
    display: flex;

    & ~ & {
      margin-left: 2rem;
    }
  }

  &__icon {
    color: $color-gray-medium;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
}
