@import "src/assets/variables";

.data-table__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  margin: 2rem 0;

  & > div {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }
}
