@import "src/assets/variables";

.form__input {
  &.form__input--file {
    appearance: none;
    cursor: pointer;
    overflow: hidden;

    &::file-selector-button {
      padding: $input-padding-x $input-padding-y;
      margin: (-$input-padding-x) $input-padding-x 0 (-$input-padding-y);
      background-color: $color-gray-light;
      color: $color-text-body;
      pointer-events: none;
      border: 0;
    }

    &:hover::file-selector-button {
      background-color: darken($color-gray-light, 10%);
    }
  }
}
