@import "src/assets/variables";

$alert-colors: (
        info: $color-info,
        success: $color-success,
        warning: $color-warning,
        danger: $color-danger,
);

.alert {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-content: center;
  background-color: transparent;
  border: solid $button-border-width transparent;
  border-bottom: solid 3px transparent;
  padding: .75rem 1rem;
  border-radius: $border-radius;
  margin-bottom: 2rem;

  &__icon {
    display: flex;
    align-items: center;
    margin: 0 .75rem 0 0;

    svg {
      height: 30px;
      width: 30px;
      stroke: $color-white;
      stroke-width: 2;
    }
  }

  &__content {
    flex: 1 0 auto;
  }

  &__header {
    font-weight: bold;
  }

  &__message {
    color: $color-gray-medium;
  }

  &__close {
    display: flex;
    align-items: center;

    .btn {
      padding: .25rem;
    }
  }

  @each $status, $color in $alert-colors {
    &--#{$status} {
      border-bottom-color: $color;
      background-color: rgba($color, .10);

      .alert__icon svg {
        fill: $color;
      }

      .alert__close svg {
        stroke: $color;
      }
    }
  }
}
