@import "src/assets/variables";

.off-canvas {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: fixed;
    z-index: 1100;
    top: 0;
    right: -400px;
    bottom: 0;
    width: 400px;
    background-color: $color-white;
    box-shadow: $shadow;
    transition: transform $transition-speed $transition-function;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    font-size: 1.25rem;
    letter-spacing: -.025rem;
  }

  &__body {
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto;
  }

  &--visible {
    & .off-canvas {
      &__content {
        transform: translateX(-100%);
      }
    }
  }
}
