@import "src/assets/variables";

.sidebar-pane {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__brand {
    flex: 0 0 $header-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    flex: 1 1 auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      height: 20%;
    }
  }
}

.nav {
  &--sidebar {
    margin-top: 1rem;
  }
}
