@import "src/assets/variables";
@import "src/assets/mixins";

@include media-breakpoint-up(xl) {
  .grid-view {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 2rem;
    grid-template-areas:  ". .";

    &__columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:  ". .";
      gap: 0 2rem;
    }
  }
}
